#####################################################################
#       PRINT START END CANCEL PAUSE RESUME PURGE
#####################################################################

[gcode_macro PRINT_START]
gcode:
  {% set BED_TEMP = params.BED|default(60)|float %}
  {% set PLATE_TEMP = params.BED|default(50)|float * 0.87 %}
  {% set EXTRUDER_TEMP = params.EXTRUDER|default(190)|float %}

  SET_LED LED=WS2812 RED=0 GREEN=0.1 BLUE=0.2   ; color teal
  M140 S{BED_TEMP}                              ; set bed temperature and continue
  M104 S{EXTRUDER_TEMP}                         ; set hotend temperature and continue
  M106 S190                                     ; fan on for correct PID
  G4  P3000                                     ; wait 3 sec
  G28                                           ; Home all axes
  G1 Z40 F300                                   ; Z raise
  G1 X5 Y80 F3000                               ; go to parking pos.
  M109 S{EXTRUDER_TEMP}                         ; wait for hot end temperature to reach e.g. 210C
  M106 S0                                       ; fan off
  SET_LED LED=WS2812 RED=0.18 GREEN=0 BLUE=0.20 ; color purple
  #G29                                           ; Level bed; Activate bed leveling compensation
  #BED_TILT_CALIBRATE
  SET_LED LED=WS2812 RED=0.2 GREEN=0.1 BLUE=0   ; color orange - printing color
  G4  P1000                                     ; wait a second

  # prime nozzle
  G1 X30 Y5 F7200                               ; move to start
  G1 Z0.3 F800                                  ; Move to layer height
  G1 X130 Y5 E20 F800                           ; print prime line
  G1 X130 Y5 F7200                              ; move to start
  G1 X30 Y5 E40 F800                            ; print prime line
  #SET_SKEW XY=142.72,140.8,100.3

[gcode_macro PRINT_END]
gcode:
  SET_LED LED=WS2812 RED=0.1 GREEN=0.35 BLUE=0 ; finished printing: green
  M104 S0
  M140 S0
  
  # Retract the filament
  G92 E1
  G1 E-1 F80
  SET_SKEW CLEAR=1
  G1 X5 Y90 F3000
  G91
  G1 Z20 F600
  G1 Z20 F600
  G1 Z20 F600
  G1 Z20 F600
  G90
  M84
  G4  P1000 ; wait a second
  SET_LED LED=WS2812 RED=0.1 GREEN=0.1 BLUE=0.1 ; default: white
  G1 Z80 F300

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
  TURN_OFF_HEATERS
  CLEAR_PAUSE
#   SDCARD_RESET_FILE
  G91 E0
  G1 E-1.0 F240
  G92 E0
  G1 X5 Y5 F3000
  G91
  G1 Z25 F800
  G1 Z25 F800
  G1 Z25 F800
  G90

  BASE_CANCEL_PRINT

[gcode_macro RESUME]
rename_existing: BASE_RESUME
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### end of definitions #####
  G91
  G1 E{E} F240
  RESTORE_GCODE_STATE NAME=PAUSE_state
  BASE_RESUME

[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float - 10.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 10.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - 2.0) %}
      {% set z_safe = 2.0 %}
  {% else %}
      {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  SAVE_GCODE_STATE NAME=PAUSE_state
  BASE_PAUSE
  G91
  G1 E-{E} F240
  G1 Z{z_safe} F900
  G90
  G1 X{x_park} Y{y_park} F5000

#####################################################################
#       CONDITIONAL HOMING
#####################################################################

[gcode_macro CG28]
description: Conditionally home XYZ if has not been homed before | Params: NONE
gcode:
    {action_respond_info("Conditional G28 has been called...")}

    {% if "xyz" not in printer.toolhead.homed_axes %}                                                                   # Check if printer has been homed
        {action_respond_info("Doing a full G28 as the printer has not been homed before.")}
        G28                                                                                                             # Home all axes
    {% else %}
        {action_respond_info("Printer already homed.")}
    {% endif %}

#####################################################################
#       FILAMENT
#####################################################################

[gcode_macro UNLOAD_FILAMENT]
gcode:
  M83 
  G1 E-30 F1800
  G1 E-100 F1200
  G1 E-100 F1200
  G1 E-100 F1200
  G1 E-100 F1200
  G1 E-100 F1200
  G92 E0
  G90

[gcode_macro LOAD_FILAMENT]
gcode:
  M83 
  G1 E100 F1200
  G1 E100 F1200
  G1 E100 F1200
  G1 E100 F1200
  G1 E50 F1200
  G1 E40 F800
  G92 E0
  G90

[gcode_macro M600]
description: Call for filament change | Params: None
gcode:
    {action_respond_info("Filament change %(M600%) called.") }

    PAUSE
    UNLOAD_FILAMENT

#####################################################################
#       SET TEMPERATURES
#####################################################################

[gcode_macro SET_EXTRUDER_WAIT]
description: Set extruder temperature and wait till it's reached | Params: TEMP
gcode:
    # Params
    {% set hotendtemp = params.TEMP|int %}
    
    {action_respond_info("Setting EXTRUDER temp to %.0f C and WAITING..." % (hotendtemp))}

    M109 S{hotendtemp}                                                                                                  # Set and wait for hotend temp

[gcode_macro SET_EXTRUDER_CONT]
description: Set extruder temperature and continue | Params: TEMP
gcode:
    # Params
    {% set hotendtemp = params.TEMP|int %}
    
    {action_respond_info("Setting EXTRUDER temp to %.0f C and CONTINUING..." % (hotendtemp))}

    M104 S{hotendtemp}                                                                                                  # Set hotend temp

[gcode_macro M109]
rename_existing: M99109
description: Update "Wait for Hotend Temperature" to include acceptable buffer | Params: S
gcode:
    #Params
    {% set s = params.S|float %}

    M104 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}                                                     # Set hotend temp

    {% if s != 0 %}                                                                                                     # Check if hotend is being turned off
        TEMPERATURE_WAIT SENSOR=extruder MINIMUM={s-4} MAXIMUM={s+10}                                                   # Wait for the hotend to be within -4 and +20 of desired temp
    {% endif %}

#####################################################################
#       PARKING
#####################################################################

[gcode_macro PARKBED]
description: Park the extruder in the center of the bed Z at 10mm | Params: None
gcode:
    {action_respond_info("Parking EXTRUDER in the center of the bed Z at 10mm...")}

    CG28         
    
    SAVE_GCODE_STATE NAME=PARKBED
    G90                                                                                                                 # Use absolute coordinates
    G0 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_maximum.y/2} Z10 F19500                             # Center the extruder 10mm above the bed
    RESTORE_GCODE_STATE NAME=PARKBED

#####################################################################
#       MATERIAL PREHEAT
#####################################################################

[gcode_macro PREHEAT_PLA]
description: Preheat PLA
gcode:
    {% if printer['print_stats'].state == 'printing' %}
        {action_respond_info("PREHEAT: Printer is printing!!! Aborting!!!")}
    {% else %}
        {action_respond_info("PREHEAT: PLA...")}

        SET_GCODE_VARIABLE MACRO=PRINT_START VARIABLE=small_print VALUE=True

        SET_EXTRUDER_CONT TEMP=150                                                                                      # Set extruder temp to 0
        SET_BED_TEMPERATURE TEMP=60
        CG28                                                                                                            # Make sure the printer has been homed
        PARKBED                                                                                                         # Move the extruder to center of bed
        SET_IDLE_TIMEOUT TIMEOUT=10800                                                                                  # Set timeout to 3 hours
    {% endif %}

#############################################################################
#       PID TUNING MACROS
#############################################################################

[gcode_macro PID_Tune_EXTRUDER]
gcode:
    {% set temperature = params.TEMPERATURE|default(210) %}
    CG28
    M106 S255                                                                                                              # Sets Print Fans to 100%
    PID_CALIBRATE HEATER=extruder TARGET={temperature}
    SAVE_CONFIG

[gcode_macro PID_Tune_BED]
gcode:
    {% set temperature = params.TEMPERATURE|default(60) %}
    CG28
    M106 S255                                                                                                              # Sets Print Fans to 100%
    PID_CALIBRATE HEATER=heater_bed TARGET={temperature}
    SAVE_CONFIG

#####################################################################
#       MISC
#####################################################################

[gcode_macro POWER_OFF_PRINTER]
description: Power off the printer but leave the host running
gcode:
  {action_respond_info("POWER_OFF_PRINTER: Powering off steppers and lights...")}

  M84                                                                                                                   # Disable steppers
  TURN_OFF_HEATERS                                                                                                      # Turn off hotend and heater beds
  Part_Light_OFF                                                                                                        # Turn off extruder LED
  Frame_Light_OFF                                                                                                       # Turn off top bar LED

[gcode_macro WAIT]
description: Wait a specified number of seconds | Params: S
gcode:
    # Params
    {% set seconds = params.S|default(0)|int %}
    
    {% if seconds == 0 %}
        {action_respond_info("No amount of time was specifed! Not Waiting!") }
    {% else %}
        {action_respond_info("Waiting %.0f seconds..." % (seconds)) }

        G4 P{seconds * 1000}                                                                                            # Wait for provided time
    {% endif %}

[gcode_macro DUMP_PARAMETERS]
description: Dumps all Klipper parameters to the console. This helps to find Klipper system variables for use in macros | Params: None
gcode:
   {% for name1 in printer %}
      {% for name2 in printer[name1] %}
         { action_respond_info("printer['%s'].%s = %s" % (name1, name2, printer[name1][name2])) }
      {% else %}
         { action_respond_info("printer['%s'] = %s" % (name1, printer[name1])) }
      {% endfor %}
   {% endfor %}

[delayed_gcode my_delayed_gcode]
gcode:
    SET_LED LED=WS2812 RED=0 GREEN=0.05 BLUE=0.01 INDEX=3
    SET_LED LED=WS2812 RED=0.1 GREEN=0.1 BLUE=0.05 INDEX=2
    SET_LED LED=WS2812 RED=0.1 GREEN=0.1 BLUE=0.05 INDEX=1
    G4 P100
    SET_LED LED=WS2812 RED=0 GREEN=0.1 BLUE=0.02 INDEX=3
    SET_LED LED=WS2812 RED=0.2 GREEN=0.2 BLUE=0.1 INDEX=2
    SET_LED LED=WS2812 RED=0.2 GREEN=0.2 BLUE=0.1 INDEX=1
    G4 P100
    SET_LED LED=WS2812 RED=0 GREEN=0.15 BLUE=0.04 INDEX=3
    SET_LED LED=WS2812 RED=0.3 GREEN=0.3 BLUE=0.15 INDEX=2
    SET_LED LED=WS2812 RED=0.3 GREEN=0.3 BLUE=0.15 INDEX=1
    G4 P100
    SET_LED LED=WS2812 RED=0 GREEN=0.2 BLUE=0.05 INDEX=3
    SET_LED LED=WS2812 RED=0.4 GREEN=0.4 BLUE=0.2 INDEX=2
    SET_LED LED=WS2812 RED=0.4 GREEN=0.4 BLUE=0.2 INDEX=1
    G4 P100
    SET_LED LED=WS2812 RED=0 GREEN=0.3 BLUE=0.1 INDEX=3
    SET_LED LED=WS2812 RED=0.5 GREEN=0.5 BLUE=0.25 INDEX=2
    SET_LED LED=WS2812 RED=0.5 GREEN=0.5 BLUE=0.25 INDEX=1
    G4 P100
    SET_LED LED=WS2812 RED=0.6 GREEN=0.6 BLUE=0.3 INDEX=2
    SET_LED LED=WS2812 RED=0.6 GREEN=0.6 BLUE=0.3 INDEX=1
    G4 P100
    SET_LED LED=WS2812 RED=0.7 GREEN=0.7 BLUE=0.35 INDEX=2
    SET_LED LED=WS2812 RED=0.7 GREEN=0.7 BLUE=0.35 INDEX=1
    G4 P100
    SET_LED LED=WS2812 RED=0.9 GREEN=0.9 BLUE=0.45 INDEX=2
    SET_LED LED=WS2812 RED=0.9 GREEN=0.9 BLUE=0.45 INDEX=1
    initial_duration: 0.1